
@page "/CreateRequest"
@inject NavigationManager Navigation
@rendermode InteractiveServer
@layout Layout.Menu.MenuUser;
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject Classes.Admin.Servise.MailSender EmailService

<div>
    <head>
        <link rel="stylesheet" href="/users.css">
        <link rel="stylesheet" href="/admin.css">
        <link rel="stylesheet" href="/autStyle.css">
    </head>


    <div class="Banner">

        <h5 class="TextBanner">Оформление заявки</h5>
    </div>
</div>


<div class="order-form-container">
    <form class="order-form" @onsubmit="OnFormSubmit">

        <div class="form-section dark">
            <label>Имя</label>
            <input @bind="name" type="text" />

            <label>Как с вами связаться</label>
            <select @bind="idContact">
                <option value="0" disabled>Выберите способ связи</option>
                <option value="2">В Telegram</option>
                <option value="3">По почте</option>
            </select>


            @if (idContact == 2)
            {
                // Если выбран Telegram, показываем либо инфу, либо виджет авторизации
                if (!string.IsNullOrEmpty(telegramId))
                {

                    <div style="display: flex; align-items: center; gap: 8px;">

                        @if (!string.IsNullOrEmpty(telegramPhoto))
                        {
                            <img src="@telegramPhoto" alt="Аватарка Telegram" style="width: 50px; height: 50px; border-radius: 50%;" />
                        }
                        <p style="margin: 0;">
                            <label>Ваш ID: <strong>@telegramId</strong></label>
                        </p>
                    </div>
                }
                else
                {
                    <div id="telegram-login-container"></div>
                    <script async src="https://telegram.org/js/telegram-widget.js?15"
                            data-telegram-login="DiplomKopigradBot"
                            data-size="large"
                            data-userpic="false"
                            data-auth-url="/auth/telegram">
                    </script>
                }
            }
            else if (idContact == 3)
            {
                @if (!isConfirmed)
                {
                    <div>
                        <input @bind="email" placeholder="Введите Email" />
                        <button type="button" @onclick="SendCode">Отправить код</button>


                    </div>

                    @if (codeSent)
                    {
                        <div style="margin-top: 10px;">
                            <input @bind="enteredCode" placeholder="Введите код" />
                            <button type="button" @onclick="CheckCode">Подтвердить</button>

                        </div>
                    }

                    <p>@status</p>
                }
                else
                {
                    <p style="color:green;">✅ @email подтверждён! </p>
                }

            }


            <label>Выберите услугу</label>
            <select @onchange="OnIdServiceChanged">
                <option disabled selected>Выберите</option>
                @foreach (var item in services)
                {
                    <option value="@item.IdService">@item.NameService</option>
                }
            </select>





        </div>

        <div class="form-section light">
            <label>Количество</label>
            <div class="quantity-control">
                <input type="number" value="@count" @oninput="OnCountChanged" min="1" />



            </div>
            @{
                var selectService = idService;
            }

            @if (selectService != 0)
            {
                <label>Выбор мини услуги</label>
                <select @bind="idServiceMini">
                    @foreach (var item in miniservices.Where(x => x.IdService == selectService))
                    {
                        <option value="@item.IdMiniService">@item.NameMiniServise</option>
                    }
                </select>

            }

            @if (idServiceMini != 0)
            {
                <label>@miniservices.Where(x => x.IdMiniService == idServiceMini).Select(x => x.TopName).FirstOrDefault()</label>
                <select @onchange="OnIdColumnChanged">
                    @foreach (var item in colums.Where(x => x.IdMiniService == idServiceMini))
                    {
                        <option value="@item.IdColumnNames">@item.NameColumn</option>
                    }
                </select>
            }


            @if (idServiceMini != 0)
            {
                <label>@miniservices.Where(x => x.IdMiniService == idServiceMini).Select(x => x.BottomName).FirstOrDefault()</label>
                <select @onchange="OnIdMaterialChanged">
                    @foreach (var item in materials.Where(m => m.Tableminiservices.Any(t => t.IdMiniService == idServiceMini)))
                    {
                        <option value="@item.IdMaterial">@item.NameMaterial</option>
                    }
                </select>
            }


            <label>Прикрепить файлы</label>
            <InputFile OnChange="HandleFileSelected" multiple />

            @if (selectedFiles?.Count > 0)
            {
                <ul>
                    @foreach (var file in selectedFiles.Select((f, i) => new { File = f, Index = i }))
                    {
                        <li>
                            @file.File.Name
                            <button type="button" @onclick="() => RemoveFile(file.Index)" class="remove-button">❌</button>


                        </li>
                    }
                </ul>
            }





            @if (price != 0)
            {
                <div class="price">Стоимость: @price рублей</div>
            }


            <button @onclick="SubmitAsync" disabled="@disableButton" class="submit-button">Отправить</button>

        </div>
    </form>
</div>

<style>
    .submit-button:disabled {
        background-color: #ccc; /* Серый фон */
        color: #666; /* Тусклый текст */
        cursor: not-allowed;
        border: 1px solid #999;
        opacity: 0.7;
    }

    .remove-button {
        background: #FFFFFF;
        border: none;
        cursor: pointer;
        color: #ff4d4d; /* Красный крестик */
        font-size: 1.2rem;
        margin-left: 8px;
    }

        .remove-button:hover {
            color: darkred;
            transform: scale(1.1);
        }

</style>



@code {
    private void OnFormSubmit()
    {
        // Ничего не делаем, просто предотвращаем стандартную отправку формы
    }
    string click = "не нажала";    //email
    private string emailCopygrad = "copygrad96@mail.ru";
    private string email;
    private string status;
    private string sentCode;
    private string enteredCode;
    private bool codeSent = false;
    private bool isConfirmed = false;

    private async Task SendCode(MouseEventArgs e)
    {


        if (string.IsNullOrWhiteSpace(email))
        {
            status = "Введите email.";
            return;
        }

        // Генерируем код и сохраняем
        var rnd = new Random();
        sentCode = rnd.Next(100000, 999999).ToString();

        try
        {
            await EmailService.SendEmailAsync(email, "Код подтверждения", $"Ваш код: {sentCode}");
            status = "Код отправлен!";
            codeSent = true;

            // Сохраняем в localStorage
            await JS.InvokeVoidAsync("saveState", "email", email);
            await JS.InvokeVoidAsync("saveState", "sentCode", sentCode);
            await JS.InvokeVoidAsync("saveState", "codeSent", "true");
        }
        catch (Exception ex)
        {
            status = $"Ошибка отправки письма: {ex.Message}";
        }
    }


    private void CheckCode()
    {
        if (enteredCode == sentCode)
        {
            isConfirmed = true;
            status = "Email успешно подтверждён!";
            disableButton = false;
        }
        else
        {
            status = "Неверный код.";
        }
    }

    bool disableButton = true;

    Classes.Admin.Servise.Price managerPrice = new Classes.Admin.Servise.Price();
    //выбор услуги
    List<Models.Service> services = new List<Models.Service>();
    List<Models.Miniservice> miniservices = new List<Models.Miniservice>();
    List<Models.Miniservice> tableMiniService = new List<Models.Miniservice>();

    List<Models.Material> materials = new List<Models.Material>();
    List<Models.Columnname> colums = new List<Models.Columnname>();

    int idService = 0;
    int idServiceMini = 0;
    int count = 1;
    int idColumn = 0;
    int idMaterial = 0;
    decimal price = 0;


    string name = "";

    public void onclick()
    {
        price = managerPrice.getPrice(idService, idColumn, idMaterial, count);
    }

    protected override void OnInitialized()
    {
        Classes.Admin.Servise.ManagmentMiniService managmentMiniService = new Classes.Admin.Servise.ManagmentMiniService();
        Classes.Admin.Servise.ManagmentServiseClasses managerService = new Classes.Admin.Servise.ManagmentServiseClasses();
        services = managerService.GetService();

        miniservices = managmentMiniService.getMiniService();

        colums = managmentMiniService.getAllColums();
        materials = managmentMiniService.getAllMaterial();
    }

    private void OnIdServiceChanged(ChangeEventArgs e)
    {
        idService = int.Parse(e.Value.ToString());
        idServiceMini = miniservices.Where(x => x.IdService == idService).Select(x => x.IdMiniService).FirstOrDefault();

        idMaterial = materials.Where(m => m.Tableminiservices.Any(t => t.IdMiniService == idServiceMini)).Select(x => x.IdMaterial).FirstOrDefault();
        idColumn = colums.Where(x => x.IdMiniService == idServiceMini).Select(x => x.IdColumnNames).FirstOrDefault();
        ChangeCount(); // пересчет
    }

    private void OnIdColumnChanged(ChangeEventArgs e)
    {
        idColumn = int.Parse(e.Value.ToString());
        ChangeCount(); // пересчет

    }

    private void OnIdMaterialChanged(ChangeEventArgs e)
    {
        idMaterial = int.Parse(e.Value.ToString());
        ChangeCount(); // пересчет

    }



    public void ChangeCount()
    {
        if (idServiceMini != 0 && idColumn != 0 && idMaterial != 0 && count > 0)
        {
            price = managerPrice.getPrice(idServiceMini, idColumn, idMaterial, count);
        }
        else
        {
            price = 0; // Если что-то не выбрано — цена сбрасывается
        }
    }

    private void OnCountChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int newCount))
        {
            count = newCount;
            ChangeCount();
        }
    }

    //Авторизация
    private int _idContact = 0;
    int idContact
    {
        get => _idContact;
        set
        {
            if (_idContact != value)
            {
                _idContact = value;
                SaveIdContactAsync(value);
            }
        }
    }

    string? telegramId;
    string? telegramPhoto;

    private async Task SaveIdContactAsync(int value)
    {
        //Авторизация
        await JS.InvokeVoidAsync("saveState", "idContact", value.ToString());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        //Авторизация
        if (firstRender)
        {
            telegramId = await JS.InvokeAsync<string>("getCookie", "TelegramId");
            telegramPhoto = await JS.InvokeAsync<string>("getCookie", "TelegramPhoto");

            var savedIdContact = await JS.InvokeAsync<string>("loadState", "idContact");
            if (int.TryParse(savedIdContact, out var savedValue))
            {
                _idContact = savedValue;

                // Если выбрано Telegram и id найден, активировать кнопку
                if (_idContact == 2 && !string.IsNullOrEmpty(telegramId))
                {
                    disableButton = false;
                }


            }

            // восстанавливаем email-авторизацию
            email = await JS.InvokeAsync<string>("loadState", "email");
            sentCode = await JS.InvokeAsync<string>("loadState", "sentCode");
            var codeSentStr = await JS.InvokeAsync<string>("loadState", "codeSent");
            if (codeSentStr == "true")
            {
                codeSent = true;
            }
            StateHasChanged();

        }




    }

    //Загрузка файлов
    private List<IBrowserFile> selectedFiles = new();

    // Пути к сохранённым файлам (после загрузки)
    private List<string> filePaths = new();

    // Обработка выбора файлов
    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            selectedFiles.Add(file);
        }
    }

    // Удаление выбранного файла до загрузки
    private void RemoveFile(int index)
    {
        if (index >= 0 && index < selectedFiles.Count)
        {
            selectedFiles.RemoveAt(index);
        }
    }

    // Загрузка файлов на сервер
    private async Task SubmitAsync()
    {
        click = "нажала";
        try
        {
            filePaths.Clear();

            if (selectedFiles.Count > 0)
            {
                var uploadsPath = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "userfiles");

                if (!Directory.Exists(uploadsPath))
                {
                    Directory.CreateDirectory(uploadsPath);
                    Console.WriteLine($"Создан каталог: {uploadsPath}");
                }

                foreach (var file in selectedFiles)
                {
                    try
                    {
                        var uniqueFileName = $"{Guid.NewGuid()}_{file.Name}";
                        var fullPath = Path.Combine(uploadsPath, uniqueFileName);

                        await using var fs = new FileStream(fullPath, FileMode.Create);
                        await file.OpenReadStream(long.MaxValue).CopyToAsync(fs);

                        var relativePath = $"/userfiles/{uniqueFileName}";
                        filePaths.Add(relativePath);

                        Console.WriteLine($"Файл сохранён: {relativePath}");
                    }
                    catch (Exception exFile)
                    {
                        Console.WriteLine($"Ошибка при сохранении файла {file.Name}: {exFile.Message}");
                    }
                }

                selectedFiles.Clear();
            }
            DateTime currentDate = DateTime.Now;
            var createRequstcsManager = new Classes.User.CreateRequstcsManager();
            int idTable = createRequstcsManager.FirstIdTableMiniService(idServiceMini, idMaterial, idColumn);
            Console.WriteLine($"Получен IdTableMiniService: {idTable}");

            if (idContact == 2)
            {
                createRequstcsManager.CreateOrder(name, 2, telegramId, idTable, filePaths, price, count);
                string textRequst = $"Телеграмм: {telegramId}\nУслуга: {miniservices.Where(x => x.IdMiniService == idServiceMini).Select(x => x.NameMiniServise).First()}\nКоличество: {count}\nЦена: {price}\nДата: {currentDate}";
                await EmailService.SendEmailAsyncRequst(emailCopygrad, $"{name}", textRequst);

                Console.WriteLine("Заявка успешно создана.");
            }
            if (idContact == 3)
            {
                createRequstcsManager.CreateOrder(name, 3, email, idTable, filePaths, price, count);


                string textRequst = $"Почта: {email}\nУслуга: {miniservices.Where(x => x.IdMiniService == idServiceMini).Select(x => x.NameMiniServise).First()}\nКоличество: {count}\nЦена: {price}\nДата: {currentDate}";
                await EmailService.SendEmailAsyncRequst(emailCopygrad, $"{name}", textRequst);

                Console.WriteLine("Заявка успешно создана.");
            }

            Navigation.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Общая ошибка при отправке заявки: {ex.Message}");
        }
    }


}